# Do not commit this

.DS_Store

node_modules/
web-ext-artifacts/

/Extensions/dist/*.json
/Extensions/dist/page/gallery.json
/Extensions/dist/page/list.json
/Extensions/dist/page/themes.json

*.swp

*.iml
.idea/
