.xkit-timestamp-failed-why {
	display: inline-block;
	margin-left: 4px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}

.post.fan_mail .message_body.with-xkit-timestamp {

	margin-top: 15px;

}

.post.fan_mail .message.with-xkit-timestamp {
	background-position-y: 17px;
}

.xkit-fan-timestamp {

	font-size: 11px;
	font-family: "Helvetica Neue","Helvetica",sans-serif;
	position: absolute;
	top: 14px;
	left: 20px;
	line-height: 12px;
	color: rgb(70,70,70);

}

.xtimestamp {
	position: relative;
	top: -9px;
	color: rgb(168,177,184);
	text-align: left;
	font-weight: normal !important;
	font-size: 11px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.xkit--react .xtimestamp, 
.xkit--react .xtimestamp-in-search {
	position: static;
	color: var(--gray-65);
	font-size: 14px;
	line-height: 1em;
	padding: 0 var(--post-padding);
	margin-left: 0;
	margin-bottom: var(--post-header-vertical-padding);
}

.xkit--react .xtimestamp {
	margin-top: calc(var(--post-header-vertical-padding) / -2);
}

.xkit--react .xtimestamp.xtimestamp-reblog {
	align-self: center;
	flex-shrink: 9999;
	padding: 0;
	margin: 0;
	margin-left: auto;
}

.xtimestamp.xtimestamp-loading {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath d='M.9.5a.4.4 2 0 1-.247.37.4.4 0 0 1-.436-.087A.4.4 0 0 1 .13.347.4.4 0 0 1 .5.1' fill='none' stroke='%23888' stroke-width='.12' stroke-linecap='round' stroke-linejoin='round'%3E%3CanimateTransform attributeName='transform' attributeType='XML' type='rotate' from='0 .5 .5' to='360 .5 .5' dur='1s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E") center no-repeat;
	min-height: 20px;
	min-width: 20px;
}

.xtimestamp-in-search {
	position: absolute;
	top: 32px;
	color: rgb(168,177,184);
	font-size: 10px;
}

.reblog-list-item .xtimestamp {
    float: right;
    top: 0;
    margin: 0;
}
