.xvd-button {
	position: absolute;
	top: 2px;
	left: 2px;
	display: block;
	overflow: hidden;
	height: 32px;
	width: 32px;
	margin: 0px;
	padding: 0px;
	padding-left: 32px;
	background-image: none !important;
	z-index: 2;
	border-radius: 6px;
	opacity: .5;
	transition: background-color .2s, opacity .2s;
}
.xvd-button:hover, .xvd-button:focus {
	background-color: rgba(0,0,0,.25);
	opacity: 1;
}
.xvd-button::before {
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	display: block;
	left: 0px;
	background-image: url("/images/dashboard_master_sprite.png") !important;
	background-position: -237px -106px !important;
	background-size: 393px !important;
	transform: scale(-1);
}
